.product{
    display:flex;
    border-bottom: 1px solid lightgrey;
   margin:5px;
}
.product-name{
color:rgb(66, 66, 179);
font-weight: 400;
}
.product-price{
    color: rgb(224, 156, 28);
    font-weight: 400;
}
.product-img{
    margin-right: 22px;
}
.btn-regular{
   background-color: rgb(204, 151, 18);
   width:135px;
   height:32px;
   border:1px solid grey;
   border-radius: 7px;
   color:rgb(231, 225, 225);
   font-size: 17px;
   margin-bottom: 10px;
   cursor: pointer;
}